/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/*Css Reset end*/
p {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.wrap {
  max-width: 100%;
}

.container {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
}

.animated {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fade-in {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.navbar-range .nav {
  padding: 20px 30px 20px 30px;
  height: 60px;
  text-transform: uppercase;
  background-color: rgba(232, 232, 232, 0.9);
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar-range .nav a {
  color: #333A56;
}

.navbar-range .home {
  float: left;
  font-size: 20px;
}

.navbar-range .menu {
  float: right;
}

.navbar-range .menu .active {
  border-bottom: 3px solid #333A56;
}

.navbar-range .menu li {
  display: inline;
  margin-left: 5rem;
  font-size: 20px;
}

.navbar-range .showmenu {
  display: none;
}

@media (max-width: 1044px) {
  .navbar-range .menu li {
    margin-left: 3rem;
  }
}

@media (max-width: 767px) {
  .navbar-range .menu {
    float: none;
    background-color: rgba(232, 232, 232, 0.7);
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  .navbar-range .menu li {
    display: block;
    margin: 0;
    padding: 20px 30px 20px 30px;
  }
  .navbar-range .showmenu {
    display: block;
    float: right;
  }
  .navbar-range .menu-show .menu {
    max-height: 240px;
  }
}

.header {
  background-image: url("../images/resume_profile.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}

.header .page-down {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  -webkit-animation: moveUpDown 0.5s infinite alternate;
          animation: moveUpDown 0.5s infinite alternate;
}

.header .page-down .icon-color {
  color: white;
}

@-webkit-keyframes moveUpDown {
  from {
    bottom: 5%;
  }
  to {
    bottom: 7%;
  }
}

@keyframes moveUpDown {
  from {
    bottom: 5%;
  }
  to {
    bottom: 7%;
  }
}

.header .header-bg {
  background-color: rgba(152, 180, 237, 0.7);
  height: 100vh;
}

@media (min-width: 768px) {
  .header .header-bg-2 {
    background-color: rgba(49, 56, 84, 0.9);
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
    max-width: 46rem;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -12rem;
  }
}

.header .header-title {
  position: relative;
  z-index: 10;
  color: #fff;
  text-align: center;
  max-width: 33rem;
  padding-top: 40vh;
}

.header .title {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.header .icon-section {
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.header .icon {
  text-align: center;
  background-color: #333A56;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 100%;
}

.header .icon .icon-color {
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.header .icon:hover {
  background-color: #F7F5E6;
}

.header .icon:hover .icon-color {
  color: #333A56;
}

@media (max-width: 1044px) {
  .header .header-bg-2 {
    left: -20rem;
  }
  .header .header-title {
    max-width: 26rem;
  }
}

@media (max-width: 767px) {
  .header {
    background-image: url("../images/resume_profile-2.jpg");
  }
  .header .header-title {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    max-width: 767px;
    background-color: rgba(49, 56, 84, 0.7);
    padding: 30px;
  }
  .header .icon-section {
    text-align: center;
    left: 0;
    right: 0;
    bottom: 12%;
  }
  .header a {
    display: inline-block;
    margin: 0 10px;
  }
  .header .icon {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
  }
  .header .title {
    font-size: 48px;
  }
}

@media (max-width: 320px) {
  .header .title {
    font-size: 36px;
  }
}

.profile .about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.profile .about .section-title {
  font-size: 36px;
  color: #333A56;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.profile .about .about-text {
  float: left;
  width: 60%;
  color: #333A56;
  padding-left: 30px;
  line-height: 35px;
}

.profile .content {
  padding-top: 30px;
}

.profile .myphoto {
  float: left;
  width: 40%;
  background-image: url("../images/myphoto2.jpg");
  background-size: cover;
  background-position: center center;
  height: 331px;
}

@media (max-width: 767px) {
  .profile .myphoto {
    float: none;
    width: 50%;
    margin: 0 auto;
    height: 200px;
  }
  .profile .about .about-text {
    float: left;
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 414px) {
  .profile .myphoto {
    width: 100%;
  }
}

.skills {
  background-color: #52658F;
  color: white;
}

.skills .myskills {
  padding-top: 80px;
  padding-bottom: 80px;
}

.skills .myskills .section-title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.skills .skills-icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #333A56;
  background-color: #333A56;
  padding: 10px;
  border-radius: 100%;
  margin: 0 auto;
}

.skills .skills-fe, .skills .skills-lang {
  margin-top: 30px;
}

.skills .skills-left {
  float: left;
  width: 50%;
  text-align: center;
  padding: 25px;
}

.skills .skills-right {
  float: left;
  width: 50%;
}

@media (min-width: 768px) {
  .skills .language {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.skills .skills-title {
  font-size: 20px;
  margin-top: 20px;
}

.skills .skills-text {
  text-align: center;
  margin: 20px auto;
}

.skills .bar-container {
  width: 90%;
  margin: 20px auto;
}

.skills .bar-text {
  width: 20%;
  display: inline-block;
}

.skills .bar {
  width: 70%;
  display: inline-block;
  position: relative;
}

.skills .bar-unfill {
  height: 15px;
  display: block;
  background: #fff;
  width: 100%;
  border-radius: 8px;
}

.skills .bar-fill {
  height: 15px;
  display: block;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.skills .html {
  background: #45c9a5;
  width: 80%;
}

.skills .css {
  background: #45c9a5;
  width: 90%;
}

.skills .bootstrap {
  background: #45c9a5;
  width: 85%;
}

.skills .scss {
  background: #45c9a5;
  width: 70%;
}

.skills .js {
  background: #45c9a5;
  width: 60%;
}

.skills .vue {
  background: #45c9a5;
  width: 55%;
}

.skills .chinese {
  background: #45c9a5;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.skills .english {
  background: #45c9a5;
  width: 60%;
}

.skills .japanese {
  background: #45c9a5;
  width: 80%;
}

.skills .small-cn {
  font-size: 10px;
  position: absolute;
  top: 18px;
  right: 0;
}

.skills .small-en {
  font-size: 10px;
  position: absolute;
  top: 18px;
  right: 32%;
}

.skills .small-jp {
  font-size: 10px;
  position: absolute;
  top: 18px;
  right: 15%;
}

@media (max-width: 1044px) {
  .skills .bar-text {
    width: 30%;
  }
  .skills .bar {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .skills .skills-left {
    float: none;
    width: 100%;
    text-align: center;
    padding: 25px;
  }
  .skills .skills-right {
    float: none;
    width: 100%;
  }
  .skills .bar-text {
    width: 20%;
  }
  .skills .bar {
    width: 70%;
  }
}

@media (max-width: 414px) {
  .skills .bar-text {
    width: 30%;
  }
  .skills .bar {
    width: 60%;
  }
}

.works {
  background-color: #F7F5E6;
  color: #333A56;
}

.works .myworks {
  padding-top: 80px;
  padding-bottom: 80px;
}

.works .myworks .section-title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.works .works-item {
  margin-top: 20px;
}

.works .worksmain {
  position: relative;
  float: left;
  width: 31.33333%;
  height: 100%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3%;
  overflow: hidden;
}

.works .worksmain:hover .work-info {
  opacity: 1;
}

.works .work-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(82, 101, 143, 0.8);
  color: white;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.works .work-info h5 {
  margin-bottom: 5px;
}

.works .work-text {
  margin-top: 20%;
}

@media (max-width: 1044px) {
  .works .worksmain {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .works .worksmain {
    width: 98%;
  }
}

.contact {
  background-color: #333A56;
  color: #fff;
}

.contact .contact-me {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact .contact-me .section-title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.contact .myphoto {
  width: 220px;
  height: 220px;
  display: block;
  margin: 20px auto 20px auto;
  border-radius: 100%;
}

.contact .name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.contact .tw-name {
  font-size: 30px;
  margin-right: 10px;
}

.contact .en-name {
  font-size: 20px;
}

.contact .information {
  width: 60%;
  margin: 0 auto;
}

.contact .info {
  margin-bottom: 10px;
  float: left;
  width: 33.33333%;
}

.contact .info .info-icon {
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #333A56;
  text-align: center;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 5px;
}

@media (max-width: 1200px) {
  .contact .info {
    float: none;
    width: 195px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  background-color: #F7F5E6;
  padding: 40px;
  text-align: center;
}
/*# sourceMappingURL=all.css.map */